#inp {
  height: 25px;
  margin-left: 120px;
}
@media (max-width: 375px) {
  .card {
    min-width: 100%;
  }
}

@media (max-width: 768px){


  #inp {
    height: 20px;
    margin-left: 35px;
  }

}

@media (max-width: 992px){
  #inp {
    height: 20px;
    margin-left: 45px;
  }

}

