<div class="container"  class="mb-0">
  <h1>Shlomi Brezman</h1>
  <img src="../../../assets/shlomi.JPG" alt="" width="250" height="380">

  <h2>J.B.H - 8</h2>

  <h3>Email: shbrezman@gmail.com</h3>

  <p><b>about the project:</b></p>
  <p  class="mb-0"><i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique id ipsam dolorem! Rerum similique
    id beatae nostrum harum repellat est? Incidunt at magnam unde labore repellat consectetur dolores quasi.Ipsum, reiciendis
     voluptate placeat accusantium illo cumque, asperiores, possimus nemo commodi voluptatem excepturi ducimus sequi incidunt
     at. Molestias suscipit inventore possimus obcaecati fugiat! Hic non tenetur, mollitia ad debitis aspernatur!</i></p>
</div>
<br>
<br>
<br>
<br>
<br>
