<div class="parallax">



<div class="container main-div">
  <div class="row"><p class=" header">Crypto</p><p class="b header">&#x20bf;</p><p class="header">it</p></div>

  <nav class="navbar p-0 m-0">
    <span>
      <a class="p-4 pl-0 mr-4 n" [routerLink]="['/']">Home stam</a>
      <a class="p-4 mr-4 n" [routerLink]="['/live-reports']">Live-Reports</a>
      <a class="p-4 mr-4 n" [routerLink]="['/about']">About</a>

    </span>
  </nav>
  <hr />

  <router-outlet></router-outlet>
</div>
</div>
